body {
/*	background-color: #fff;*/
}

.bmdhead {
	color: white;
	padding-bottom: 15px;
	padding-left: 30px;
}

.contact {
	height: 80px;
}

.contact p {
	text-align: center;
	padding-top: 30px;
}

.non-link {
	color: #fff;
}

.line {
  border: 0;
  height: 1px;
/*  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));*/
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 0, 0, 0.75), rgba(0, 0, 0, 0));   	
}

.summary {
	margin: 0 auto;
	text-align: center;
	width: 500px;
	height: 120px;
}

.projects {
	height: 120px;
}

.projects h3, p{
	text-align: center;
}

.techLogos{
  background-color: #fff;
  padding: 30px 20px 20px;
  border: 2px solid black;
  border-radius: 60px;
}

.techLogos img {
  margin: 4px 6px 10px;
  border-radius: 4px;
}